*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1500px;
}

.w-100{
    width: 100%;
}
.w-35{
    width: 35%;
}
.w-50{
    width: 50%;
}

.w-70{
    width: 70%;
}

.w-350{
    width: 350px;
}


.w-400{
    width: 450px;
}

.w-600{
    width: 600px;
}
.w-700{
    width: 700px;
}
.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.align-items-center{
    align-items: center;
}

.mt-20{
    margin-top: 20px;
}

.mb-10{
    margin-bottom: 10px;
}

.color_header{
    color: #363636;
}

.fs-13{
    font-size: 1.3rem;
}

h1{
    font-size: 4.8rem;
    margin-bottom: 20px;
}

h5{
    font-size: 1.6rem;
    font-weight: normal;
}

.position-relative{
    position: relative;
}

.top-350{
    top:-370px
}

.left-175{
    left: 175px;
}

.search{
    width: 258px;
    height: 45px;
    border-radius: 8px;
    border-color: aliceblue;
}


.button{
    width: 200px;
    height: 60px;
    font-size: 1.5rem;
}

.button_sort{
    width: 150px;
    height: 60px;
    color:#696969;
    font-size: 1.3rem;
}

.bg-color-green{
    background-color: #459d7a;
    border-color: #459d7a;
    border-style: none;
    border-radius: 5px;
}
.border_none{
    border-style: none;
}
.color_white{
    color: white;
}
.border-radius-5{
    border-radius: 5px;
}
.border_color_white{
    border-color: white;
}

.color_green{
    color:#459d7a;
}

.mt-100{
    margin-top: -100px;
}

.align-items-end{
    align-items: end;
}

.w-350{
    width: 250px;
}
.h-580{
    height: 580px;
}
.w-580{
    width: 580px;
}

.bg-color-footer{
    background-color: #1d2128;
}

.footer_size{
    width: 1500px;
    height: 300px;
}

.fs-2{
    font-size: 2rem;
}
.fs-25{
    font-size: 2.5rem;
}

.fs-13{
    font-size: 1.3rem;
}
.w-330{
    width: 330px;
}
.fw-bold{
    font-weight: bold;
}
.h-250{
    height: 250px;
}
.mb-15{
    margin-bottom: 15px;
}
.flex-column{
    flex-direction:column ;
}

.m-5{
    margin: 5rem 5rem 5rem 5rem;

}

::placeholder{
    font-size: 1rem;
    color: rgb(146, 146, 146);
}

.email{
    width: 390px;
    height: 50px;
}
.h-40{
    height: 55px;
}
.w-110{
    width: 110px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.h-20{
    height: 20px;
}
.w-150{
    width: 150px;
}
.ml_5{
    margin-left: -8px;
}
